<launch>
  <!-- Launch gps_odometer node -->
  <node pkg="first_project" type="gps_odometer" name="gps_odometer" output="screen">
    <param  name="lat_r" type="double" value="45.618932" />
    <param  name="lon_r" type="double" value="9.281179" />
    <param  name="alt_r" type="double" value="229.049061" />
  </node>
</launch>
